USE [PrescriptionsDB]
GO
/****** Object:  Table [dbo].[Prescriptions Summary]    Script Date: 28/04/2026 15:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions Summary](
	[PRACTICE_CODE] [varchar](10) NOT NULL,
	[TOTAL_ITEMS] [int] NOT NULL,
	[TOTAL_QUANTITY] [decimal](18, 2) NOT NULL,
	[TOTAL_COST] [decimal](18, 5) NOT NULL,
	[REPORT_MONTH] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Prescriptions Summary]  WITH CHECK ADD  CONSTRAINT [FK_PrescriptionSummary_MedicalPractice] FOREIGN KEY([PRACTICE_CODE])
REFERENCES [dbo].[Medical_Practice] ([PRACTICE_CODE])
GO
ALTER TABLE [dbo].[Prescriptions Summary] CHECK CONSTRAINT [FK_PrescriptionSummary_MedicalPractice]
GO
