USE [PrescriptionsDB]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 28/04/2026 16:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[PRESCRIPTION_CODE] [int] NOT NULL,
	[PRACTICE_CODE] [varchar](10) NOT NULL,
	[BNF_CODE] [varchar](20) NOT NULL,
	[QUANTITY] [decimal](18, 2) NOT NULL,
	[ITEMS] [int] NOT NULL,
	[ACTUAL_COST] [decimal](18, 5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PRESCRIPTION_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH NOCHECK ADD  CONSTRAINT [FK_Prescriptions_Drugs] FOREIGN KEY([BNF_CODE])
REFERENCES [dbo].[Drugs] ([BNF_CODE])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_Drugs]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH NOCHECK ADD  CONSTRAINT [FK_Prescriptions_MedicalPractice] FOREIGN KEY([PRACTICE_CODE])
REFERENCES [dbo].[Medical_Practice] ([PRACTICE_CODE])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_MedicalPractice]
GO
