USE [PrescriptionsDB]
GO
/****** Object:  Table [dbo].[Medical_Practice]    Script Date: 28/04/2026 15:15:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medical_Practice](
	[PRACTICE_CODE] [varchar](10) NOT NULL,
	[PRACTICE_NAME] [varchar](200) NOT NULL,
	[ADDRESS_1] [varchar](200) NULL,
	[ADDRESS_2] [varchar](200) NULL,
	[ADDRESS_3] [varchar](200) NULL,
	[ADDRESS_4] [varchar](200) NULL,
	[POSTCODE] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PRACTICE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Medical_Practice] ([PRACTICE_CODE], [PRACTICE_NAME], [ADDRESS_1], [ADDRESS_2], [ADDRESS_3], [ADDRESS_4], [POSTCODE]) VALUES (N'00T998', N'UNIDENTIFIED DOCTORS', N'ST PETERS HOUSE', N'SILVERWELL STREET', N'BOLTON', N'LANCASHIRE', N'BL1 1PP')
INSERT [dbo].[Medical_Practice] ([PRACTICE_CODE], [PRACTICE_NAME], [ADDRESS_1], [ADDRESS_2], [ADDRESS_3], [ADDRESS_4], [POSTCODE]) VALUES (N'P82001', N'THE DUNSTAN PARTNERSHIP', N'BREIGHTMET HEALTH CENTRE', N'BREIGHTMET FOLD LANE', N'"BRIGHTMET', N' BOLTON"', N'LANCASHIRE,BL2 6NT')
INSERT [dbo].[Medical_Practice] ([PRACTICE_CODE], [PRACTICE_NAME], [ADDRESS_1], [ADDRESS_2], [ADDRESS_3], [ADDRESS_4], [POSTCODE]) VALUES (N'P82002', N'PIKES LANE 1', N'THE PIKES LANE CENTRE', N'DEANE ROAD', N'BOLTON', N'LANCASHIRE', N'BL3 5HP')
GO
